:root {
    color: #fff;
    font-family: sans-serif;
}

body {
    height: 100vh;
    position: relative;
}

.board {
    --bHeight: 24px;
    --bRadius: 8px;

    display: block;
    background-color: #263238ee;

    height: var(--bHeight);
    width: 37vw;
    min-width: 240px;
    border-radius: var(--bRadius);

    position: absolute;
    left: 50%;
    bottom: 36px;
    transform: translateX(-50%);

    box-shadow: #263238aa 0 2px 4px 0px;
}

.board > div {
    display: grid;
    place-items: stretch;
    text-align: center;
}

.loading {
    justify-content: center;
}

.bouncer, .bouncer::after {
    --width: 200px;
    --height: 4px;
    --border-radius: 2px;
}
.bouncer {
    display: inline-block;
    height: var(--height);
    border-radius: var(--border-radius);
    width: var(--width);
    background-color: #1976d2;
}

.bouncer::after {
    content: '';
    display: block;
    margin-left: 0;
    height: var(--height);
    border-radius: var(--border-radius);
    width: 20px;
    background-color: #90caf9;
    animation: 1s bounce ease-in-out alternate infinite;
}

.bouncer.problem {
    background-color: #d32f2f;
}

.bouncer.problem::after {
    background-color: #ef9a9a;
}

.bouncer.ok {
    background-color: #388e3c;
}

.bouncer.ok::after {
    background-color: #a5d6a7;
}

@keyframes bounce {
    from {
        margin-left: 0;
        width: 20px;
    }

    50% {
        width: 40px;
    }

    to {
        width: 20px;
        margin-left: calc(var(--width) - 20px);
    }
}

.score {
    grid-template-columns: 1fr auto 1fr;
    align-items: end !important;
    height: var(--bHeight);
}

.score > div {
    min-height: var(--bHeight);
    padding: 0 calc(var(--bHeight) / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.5s;
    transition-property: background-color, box-shadow;
}

.score > div > span {
    font-size: 16px;
    padding: calc(calc(var(--bHeight) - 18px) / 2) 0;
}

.penalties {
    font-size: 14px;
    flex-basis: 100%;
    width: 100%;
    /* min-height: var(--bHeight); */
    opacity: 100%;
    transform: rotateY(0);
    transition-duration: 0.5s;
    transition-property: height, opacity, transform;
}

.penalties.hidden {
    display: inherit !important;
    /* height: 0px; */
    opacity: 0%;
    transform: rotateX(90deg);
}

.penalties span {
    display: block;
}

span {
    text-shadow: #263238aa 0 0px 4px;
}

.score div:nth-child(2) {
    justify-content: center;
    min-width: 12px;
}

.away {
    --bg: #f44336;
    background-color: var(--bg);
    box-shadow: var(--bg) 2px 0 2px;
    border-radius: var(--bRadius) 0 0 var(--bRadius);
}

.home {
    --bg: #2196f3;
    background-color: var(--bg);
    box-shadow: var(--bg) -2px 0 2px;
    border-radius: 0 var(--bRadius) var(--bRadius) 0;
}

.hidden {
    display: none !important;
}